<div class="trait mt-3">
  <div class="mw-100 d-flex flex-column justify-content-center m-auto p-5">
    <div class="row justify-content-center">
      <div class="col-8 d-flex justify-content-center">
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput [(ngModel)]="selectedItem.id" disabled>
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Nome do item</mat-label>
            <input matInput [(ngModel)]="selectedItem.name">
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Preço</mat-label>
            <input matInput [(ngModel)]="selectedItem.price">
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Descrição</mat-label>
            <input matInput [(ngModel)]="selectedItem.description">
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Volume</mat-label>
            <input matInput [(ngModel)]="selectedItem.volume">
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>ID de Categoria</mat-label>
            <input matInput [(ngModel)]="selectedItem.category_id">
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Data de criação</mat-label>
            <input matInput [(ngModel)]="selectedItem.created_at" disabled>
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Data de atualização</mat-label>
            <input matInput [(ngModel)]="selectedItem.updated_at" disabled>
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Data de exclusão</mat-label>
            <input matInput [(ngModel)]="selectedItem.deleted_at" disabled>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4 d-flex justify-content-center">
        <button
          mat-raised-button
          color="warn"
          (click)="resetForm()"
          class="m-1"
        >
          Cancelar
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="save()"
          class="m-1"
        >
          {{ updateMode ? 'Atualizar' : 'Inserir'}}
        </button>
      </div>
    </div>
  </div>
  <div class="row mw-100 d-flex justify-content-center m-auto">
    <div class="trait__table col-12">
      <app-table
        [headers]="itemHeaders"
        [content]="itemContent"
        (removeEvent)="confirmRemove($event)"
        (editEvent)="selectEdit($event)"
        (restoreEvent)="confirmRestore($event)"
      ></app-table>
    </div>
  </div>
</div>
