<mat-toolbar color="primary" *ngIf="isLoggedIn()">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Pathfinder</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="navbar">
    <mat-nav-list>
      <a mat-list-item class="navbar__link" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
        <mat-icon class="icon">home</mat-icon>
        Home
      </a>
      <a mat-list-item class="navbar__link" [routerLink]="['/item']" routerLinkActive="router-link-active">
        <mat-icon class="icon">shield</mat-icon>
        Item
      </a>
      <a mat-list-item class="navbar__link" [routerLink]="['/categoria']" routerLinkActive="router-link-active">
        <mat-icon class="icon">category</mat-icon>
        Categoria
      </a>
      <a mat-list-item class="navbar__link" [routerLink]="['/traco']" routerLinkActive="router-link-active">
        <mat-icon class="icon">sports_kabaddi</mat-icon>
        Traço
      </a>
      <a mat-list-item class="navbar__link" [routerLink]="['/caracteristica']" routerLinkActive="router-link-active">
        <mat-icon class="icon">description</mat-icon>
        Caracteristica
      </a>
      <a mat-list-item class="navbar__link" [routerLink]="['/usuario']" routerLinkActive="router-link-active">
        <mat-icon class="icon">person</mat-icon>
        Usuário
      </a>
      <a mat-list-item class="navbar__link" (click)="logout(); sidenav.close()" [routerLink]="['/login']" routerLinkActive="router-link-active">
        <mat-icon class="icon">logout</mat-icon>
        Sair
      </a>
     </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="min-height: calc(100vh - 74px)">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </mat-sidenav-content>  
</mat-sidenav-container>