<div class="user mt-3">
  <div class="mw-100 d-flex flex-column justify-content-center m-auto p-5">
    <div class="row">
      <div class="col-8 mt-2 m-auto d-flex justify-content-center">
        <img src="{{preview}}" id="preview" style="width: 200px" alt="" />
      </div>
      <div class="col-8 my-2 m-auto d-flex justify-content-center">
        <button type="button" mat-raised-button (click)="fileInput.click()">Escolher foto</button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" accept=".png, .jpg, .jpeg">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 d-flex justify-content-center">
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput [(ngModel)]="selectedUser.id" disabled>
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Nome do usuário</mat-label>
            <input matInput [(ngModel)]="selectedUser.name">
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="selectedUser.email">
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput [(ngModel)]="selectedUser.password" type="password">
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Função</mat-label>
            <mat-select [(ngModel)]="selectedUser.role">
              <mat-option
                *ngFor="let role of allRoles"
                [value]="role" 
                ngDefaultControl
              >
                {{ role }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Data de criação</mat-label>
            <input matInput [(ngModel)]="selectedUser.created_at" disabled>
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Data de atualização</mat-label>
            <input matInput [(ngModel)]="selectedUser.updated_at" disabled>
          </mat-form-field>
        </div>
        <div class="m-1">
          <mat-form-field appearance="fill">
            <mat-label>Data de exclusão</mat-label>
            <input matInput [(ngModel)]="selectedUser.deleted_at" disabled>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 d-flex justify-content-center">
        <button
          mat-raised-button
          color="warn"
          (click)="resetForm()"
          class="m-1"
        >
          Cancelar
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="save()"
          class="m-1"
        >
          {{ updateMode ? 'Atualizar' : 'Inserir'}}
        </button>
      </div>
    </div>
  </div>
  <div class="row mw-100 d-flex justify-content-center m-auto">
    <div class="user__table col-12">
      <app-table
        [headers]="userHeaders"
        [content]="userContent"
        (removeEvent)="confirmRemove($event)"
        (editEvent)="selectEdit($event)"
        (restoreEvent)="confirmRestore($event)"
      ></app-table>
    </div>
  </div>
</div>
