.table {
  width: 100%;
  vertical-align: middle;
  th {
    vertical-align: middle;
  }
  .mat-column-id {
    flex: 1;
  }
  .mat-column-name {
    flex: 2;
  }
  .mat-column-created_at,
  .mat-column-updated_at,
  .mat-column-deleted_at {
    flex: 3;
  }
}