.table {
  width: 100%;
  vertical-align: middle;
  th {
    vertical-align: middle;
  }
  .mat-cell {
    min-height: 80px;
  }
  .mat-column-id {
    flex: 1;
    p {
      max-width: 90%;
    }
  }
  .mat-column-characteristics_value,
  .mat-column-name {
    flex: 2;
    p {
      max-width: 90%;
    }
  }
  .mat-column-description {
    flex: 4;
    p {
      max-width: 90%;
    }
  }
  .mat-column-created_at,
  .mat-column-updated_at,
  .mat-column-deleted_at {
    flex: 3;
    p {
      max-width: 90%;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}